#app {
    padding: 20px;
  }
  
  li {
    margin: 8px 0;
  }
  
  h2 {
    font-weight: bold;
    margin-bottom: 15px;
  }

/*➢ En el fichero de estilos estarán definidos los siguientes estilos, 
asignados por clase:  
o estilo1: Con color verde, texto alineado a la derecha y fuente “Gill Sans”.  
o estilo2: Con color rojo, fuente “fantasy” y tipo de icono de lista “square”.  
o estilo3: Con color amarillo, color de fondo negro y texto centrado.  
o estilo4: Con color rosa, color de fondo vende oscuro y texto centrado. */

.estilo1 {
  color: green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: right;
} 

.estilo2 {
  color: red;
  font-family: fantasy;
  list-style-type: square;
}

.estilo3 {
  color: yellow;
  background-color: black;
  text-align: center;
}

.estilo4 {
  color: fuchsia;
  background-color: darkgreen;
  text-align: center;
}