#app {
  width: 60%;
  background: rgba(76, 175, 80, 0.05);
  margin: 50px auto;
  padding: 25px 0px;
}

form {
  width: 40%;
  margin: 25px auto;
}

span {
  margin-left: 2px;
}

label {
  display: inline-block;
  width: 25%;
}

form * {
  margin-bottom: 5px;
  border-radius: 5px 5px;
}

#divInformativo {
  width: 60%;
  margin: 25px auto;
}

div {
  text-align: justify;
}
